<div class="grid">
  <div class="titre"><h4>Liste des articles</h4></div>
  <div class="modal"><h4>Ajouter une article</h4></div>
</div>

<!-- <div class="grid">
  <div></div>
  <div class="recherche">
    <div class="search-bar">
      <input type="search" placeholder="Recherche une voiture..." [(ngModel)]="search" (keyup)="onSearch($event)">
  </div>
  </div>
  <div class=""></div>
</div> -->

<div class="grid" id="table-wrapper">
  <div class="liste" id="table-scroll">
    <table role="grid">
      <thead>
        <tr>
          <th scope="col"><span class="text">Titre</span></th>
          <th scope="col"><span class="text">Description</span></th>
          <th scope="col"><span class="text">Contenu</span></th>
          <th scope="col"><span class="text">Date_pub</span></th>
          <th scope="col"><span class="text">Date_modif</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of articles">
          <td>{{ data.titre }}</td>
          <td>{{ data.descr }}</td>
          <td>{{ data.contenu }}</td>
          <td>{{ data.date_pub | date : "dd/MM/yyyy" }}</td>
          <td>{{ data.date_modif | date : "dd/MM/yyyy" }}</td>
          
         
        </tr>
      </tbody>
    </table>
  </div>

  <div class="insertion">
    <article>
      <form
        class="form-insert-entree"
        [formGroup]="entreeForm"
        (ngSubmit)="insertEntree()"
        enctype="multipart/form-data"
      >
        <label for="desc">Titre</label>
        <input
          type="text"
          id="desc"
          formControlName="titre"
          placeholder="Titre de l'article"
          required
        />

        <label for="desc">Description</label>
        <input
          type="text"
          id="desc"
          formControlName="descr"
          placeholder="Description de l'article"
          required
        />

        <label for="desc">Contenu</label>
        <input
          type="text"
          id="desc"
          formControlName="contenu"
          placeholder="Contenu de l'article"
          required
        />

        <label for="file">Image:</label>
        <input type="file" id="file" formControlName="cover" (change)="onFileChange($event)" />

      

        <!-- Button -->
        <button type="submit" class="ajouter">Ajouter</button>
      </form>
    </article>
  </div>
</div>
